{% extends 'base.html.twig' %}

{% block title %}Панель адміністртора{% endblock %}

{% block body %}

    <div class="container">
        Тут знаходиться панель адміністрування сайтом

        <div class="row">{% if is_granted('ROLE_ADMIN') %}
                <a class="nav-link " href="{{ path('cars_add') }}">
                    <div class="card bg-light">
                        <div class="card-body ">
                            <h5 class="card-title">Добавити машину</h5>
                        </div>
                    </div>
                </a>
                <a class="nav-link " href="{{ path('cars_update') }}">
                    <div class="card bg-light">
                        <div class="card-body ">
                            <h5 class="card-title">Оновити машину</h5>
                        </div>
                    </div>
                </a>

                <a class="nav-link " href="{{ path('tariff_add') }}">
                    <div class="card bg-light">
                        <div class="card-body ">
                            <h5 class="card-title">Додати тариф</h5>
                        </div>
                    </div>
                </a>
                <a class="nav-link " href="{{ path('car_type.add') }}">
                    <div class="card bg-light">
                        <div class="card-body ">
                            <h5 class="card-title">Додати тип машини</h5>
                        </div>
                    </div>
                </a>
                <a class="nav-link " href="{{ path('orders.adminOrders') }}">
                    <div class="card bg-light">
                        <div class="card-body ">
                            <h5 class="card-title">Список замовлень</h5>
                        </div>
                    </div>
                </a>
            {% endif %}</div>

    </div>

{% endblock %}
