{% extends 'base.html.twig' %}

{% block title %}Hello CarsController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        ul {
            display: flex;
            flex-direction: row;
        }

        li {
            list-style: none;
        }
    </style>

    <div class="container">

        <div class="row">
            <ul>
                {# <li>{{ knp_pagination_sortable(cars, 'Номер', 'c.id') }}</li> #}
                {# <li>{{ knp_pagination_sortable(cars, 'Марка ', 'c.name') }}</li> #}
                {# <li>{{ knp_pagination_sortable(cars, 'Модель', 'c.model') }}</li> #}
                {# <li>{{ knp_pagination_sortable(cars, 'Рік', 'c.year') }}</li> #}
                {# <li>{{ knp_pagination_sortable(cars, 'Статус', 'c.status') }}</li> #}
            </ul>
        </div>
        <div class="row">
            <div class="col-12">

                <ul class="list-group">
                    {% for order in orders %}
                        <li class="list-group-item w-100">
                            <a class="btn btn-outline-primary" href="{{ path('orders.orderByID', {id: order.id}) }}">{{ order.id }}</a>
                            {{ order.carId.name }} {{ order.carId.model }} {{ order.carId.year }} <b>{{ order.dateFrom.format('Y-m-d')  }} </b>
                            з  <b>{{ order.timeFrom.format('H:i:s') }} </b>
                            по<b> {{ order.timeTo.format('H:i:s') }} </b></li>
                        {# <li class="list-group-item">Dapibus ac facilisis in</li> #}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {# display navigation #}
        <div class="navigation align-content-center">
            {{ knp_pagination_render(orders) }}
        </div>
    </div>
{% endblock %}
