{% extends 'base.html.twig' %}

{% block title %}Hello CarsController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container">
        <div class="row">


            {% for car in cars %}

                <div class="col-lg-4">

                    <div class="card ">
                        <div class="card-body ">
                            <img style="height: 10rem" class="card-img-top" src="{{ car.photo }}" alt=""/>
                            <h5 class="card-title">
                                {{ car.name }}
                            </h5>
                            <h5 class="card-title">
                                {{ car.model }}
                            </h5>
                            <p class="card-text">
                            <ul class="list-group">
                                <li class="list-group-item">Колір {{ car.color }}</li>
                                <li class="list-group-item">Рік {{ car.year }}</li>
                                {% if car.status =='FREE' %}
                                <li class="list-group-item">Зараз доступна</li>
                            </ul>
                            </p>
                            <a class="btn btn-primary" href="{{ path('cars.carByID', {id: car.id}) }}">Переглянути</a>



                            {% elseif car.status =='IN_USE'%}
                                    <li class="list-group-item">Зараз недоступна</li>
                                </ul>
                                </p>
                                <a class="btn btn-primary disabled" href="{{ path('cars.carByID', {id: car.id}) }}" >Переглянути</a>


                            {% endif %}
                        </div>


                    </div>


                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}
